@use '../../style/themes/black';
@use '../../style/themes/white';

.button{
  width: 208px;
  height: 62px;
  color: var(--txt-color);
  border-radius: 13px;
  box-shadow:  11px 12px 5px 2px rgba(0, 0, 0, 0.2);
  border: black;
}
