@use '../../style/themes/black';
@use '../../style/themes/white';


.navbar{
  display: flex;
  align-items: flex-end;
  padding-top: 12px;
}

.logoName{
  color: #8F8F8F;
  cursor: pointer;
  transition: all .2s;

}

.logoName:hover{
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}

.list{
  gap: 53px;
}

.link{
  cursor: pointer;
  border: none;
  text-shadow: 5px 2px 4px  rgba(255, 255, 255, 0.25);
  transition: all .2s;
  text-decoration: none;
  color: var(--txt-color)
}

.link:hover{
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}

.link:first-child{
  margin-left: 51px;
}