@use "themes/black";
@use "themes/white";

.app {
  width: 100vw;
  height: 100vh;

  color: var(--txt-color);
  background:  linear-gradient(var(--primary-bg-color) var(--primary-percent-gradient), var(--temp-bg-color) var(--temp-precent-gradient));
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 69px;
  margin-top: 300px;
}

.firstBtnCl{
  background: linear-gradient(90deg, #010937, #031949);
}

.tempBtnCl{
  background: linear-gradient(90deg, #070511, #190F45);
}

.thirdBtnCl{
  background: linear-gradient(90deg, #080025, #260E7C);
}

.btn{
  transition: all 0.6s ease-in-out;

}

.btn.active{
  width: 1000px;
  background: linear-gradient(90deg, #a7a6ac, #1b6aa3);

}

.btn.disable{
  opacity: 0.1;
}


